///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------


//------------------------------------------------------------
// display
//------------------------------------------------------------
.sp-only {
	display: none;
}
@include media-query('s') {
	.pc-only {
		display: none;
	}
	.sp-only{
		display: block;
	}
}