/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.button {
    width: 125px;
    height: 40px;
    margin-top: 28px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}