/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

body {
    background-color: #fff;
}

main {
    overflow: hidden;
    line-height: 1.8;

    @include media-query("s") {
		font-size: 1.4rem;

	}
}

.loading {
    text-align: center;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &.active {
        margin: 50px 0 30px;
        height: 26px;
    }
}

.dotted {
    li {
        display: inline-block;
        list-style: none;
        height: 18px;
        width: 18px;
        background: #0fa;
        border-radius: 100%;
        margin: 0 0.2em;
        animation: anm 1s linear infinite alternate;
    }

    li:nth-child(2) {
        animation-delay: 0.4s;
    }

    li:nth-child(3) {
        animation-delay: 0.8s;
    }
}

@keyframes anm {
    0% {
        transform: scale(0.1);
        filter: hue-rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(0.4);
    }

    100% {
        transform: scale(1);
        filter: hue-rotate(360deg);
    }
}

.is-ajax-search-details, .is-ajax-search-result {
    padding: 2px!important;
}

.c-tooltip {
    position: relative;
    display: inline-block;
    background-color: unset;
    border: unset;
    padding: 0;
    
    .tooltiptext {
        font-size: 1.2rem;
        visibility: hidden;
        width: max-content;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.c-loading {
    position: relative;
    
    &::before {
        content: '';
        position: absolute; 
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.8;
        background-color: rgba($color: #fff, $alpha: 1.0);
        z-index: 5;
    }

    &::after {
        content: '';
        width: 70px;
        height: 70px;
        background-image: url("../img/ico/ico_blocks-scale.svg");
        background-size: contain;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 8;
    }
}

.dib {
    display: inline-block;
}

.mt-50 {
    margin-top: 50px;
}

@include media-query ('s') {
    .mt-s-30 {
        margin-top: 30px !important;
    }
}


/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }

/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
 @keyframes shadow-pop-tr {
    0% {
      box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      transform: translateX(-8px) translateY(8px);
    }
  }
  
  