/*------------------------------------------------------------
Css of news page
------------------------------------------------------------*/
.top-post {
	padding-top: 85px;
	@include media-query("m") {
		padding-top: 50px;
	}
}

.top-post h2 {
	margin-top: 17px;
}

.top-post a {
	background-color: #000;
	color: #fff;
}

.top-post img {
	border-radius: 10px;
}

.top-post__text {
	@include media-query("m") {
		margin-top: 17px;
		padding: 0 10px;
	}
}
/*------------------------------------------------------------*/
.newest {
	padding-top: 61px;
}

.newest__content {
	margin-top: 19px;
}

.newest__item {
	margin-top: 20px;
}

.newest__img {
	width: 46.5%;
	@include media-query("m") {
		width: 100%;
	}
}

.newest__img .imgbox {
	@include imgbox(100%);
	border-radius: 15px;
}

.newest__left {
	width: 80%;
	@include media-query("m") {
		width: 100%;
	}
}

.newest__text {
	width: 42%;
	padding-top: 44px;
	margin-left: 36px;
	@include media-query("m") {
		width: 100%;
		margin: 0;
		padding: 10px 10px 0;
	}
}

.newest__text span {
	display: block;
	margin-top: 19px;
	@include media-query("m") {
		margin-top: 10px;
	}
}

.newest__right {
	width: 20%;
	@media screen and (max-width: 991px) {
		width: 100%;
	}
}

.newest__share {
	padding: 18px;
	border-left: 1px solid #000;
	@media screen and (max-width: 991px) {
		margin-top: 20px;
		border-left: 0;
		border-top: 1px solid #000;
		text-align: center;
	}
}

.newest__share p {
	font-size: 21px;
	font-weight: 700;
}

.newest__share .social {
	margin-top: 25px;
}
/*------------------------------------------------------------*/
.video {
	padding-top: 103px;
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 52%;
		background-color: #000;
		position: absolute;
		bottom: -108px;
		left: 0;
		z-index: 0;
	}
}

.video__description {
	margin-top: 50px;
	position: relative;
	overflow: hidden;
}

.video__description ul {
	position: absolute;
	top: 13px;
	right: 120px;
	@include media-query("m") {
		right: 150px;
	}
	@include media-query("nav") {
		right: 50px;
	}
}

.video__description li::after {
	content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
	margin: 0 5px;
    border-top: 1px solid #fff;
	cursor: pointer;
}

.video__description li.swiper-button-next::after {
	border-left: 1px solid #fff;
    transform: rotate(-45deg);
}

.video__description li.swiper-button-prev::after {
	border-right: 1px solid #fff;
    transform: rotate(45deg);
}

.video__content {
	margin-top: 39px;
	overflow: hidden;
}

.video__content a:hover,
.video__content a:hover img {
	opacity: 1;
}

.video__item.swiper-slide-active::before {
	content: '';
	width: 54px;
	height: 63px;
	background: url('../img/icon-play.png') no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 6;
}

.video__item {
	cursor: pointer;
}

.video__itemBox {
	@include imgbox(66.67%);
	border-radius: 15px;
}

.video__embed {
	display: none;
}

.fancybox-content {
	width: 70vw;
	height: 60vh;
    padding: 44px 15px 10px;
	
	@include media-query('nav') {
		height: 40vh;
	}
	@include media-query('xs') {
		width: 90vw;
		height: 40vh;
	}
}

.fancybox-content iframe {
	width: 100%;
	height: 100%;
}

.video__detailsWrap {
	max-width: 35%;
	margin: 0 auto;

	@include media-query('s') {
		max-width: 75%;
		margin-right: auto;
		margin-left: 0;
	}
}

.video__details .title-small {
	color: #fff;
}

.video__details span {
	display: block;
	margin-top: 21px;
	color: #fff;
}
/*------------------------------------------------------------*/
main .category {
	padding: 184px 0 52px;
}

body.archive.category .category {
	padding: 120px 0 52px;
}

.category__tags {
	margin-top: 52px;
	@include media-query("m") {
		margin: 25px -15px 0;
	}
}

.category__tags a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 40px;
	border: 1px solid #000;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	text-align: center;

	@include media-query("nav") {
		width: calc(50% - 30px);
		margin: 0 15px 15px !important;
	}

	&:not(:last-child) {
		margin-right: 25px;
	}

	&:hover,&.active {
		opacity: 1;
		background-color: #000;
		color: #fff;
	}

	
}

.category__content .row > div {
	margin-top: 52px;

	@include media-query('s') {
		margin-top: 30px;
	}
}

.category__content .button {
	margin-top: 52px;
	border: 1px solid #000;
}

.category__item .imgbox {
	@include imgbox(66%);
	border-radius: 15px;
}

.category__details {
	padding: 34px 24px 0;
	@include media-query("m") {
		padding: 10px 10px 0;
	}
}

.category__details span {
	display: block;
	margin-top: 17px;
}

//======================
.js-loadnews-icon {
	margin-left: 5px;
	display: none;

	&.active {
		display: block;
	}
}